* {
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.backgroundCanvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

svg {
  background-color: blue;
}

line {
  stroke: white;
}

.bubble {
  stroke: black;
  stroke-width: 1px;
  fill: white;
}

header {
  padding: 10px;
  background-color: white;
  border-bottom: solid black 3px;
}

.headerChildren {
  padding: 0;
}

.contentBody {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 10px;
}








