* {
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  cursor: default;
  color: rgb(70, 65, 65);
}

a, a:visited {
  text-decoration: none;
  color: rgb(70, 65, 65);
}

.backgroundCanvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.backgroundSvg {
  background-color: rgb(128, 189, 219);
}

line {
  stroke: white;
}

.bubble {
  stroke: rgb(159, 204, 201);
  stroke-width: 1px;
  fill: rgb(255, 243, 224);
}

header {
  padding: 10px 20px;
}

nav {
  background-color: rgb(159, 204, 201);
}

a {
  text-decoration: none;
}

.navItem {
  padding: 10px;
  display: inline-block;
}

.navItem.active {
  background-color: rgb(236, 172, 75);
}

.headerChildren {
  padding: 0;
}

.about, .projects, .contact {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
}

.projects {
  padding: 0px;
}

.projectContainer {
  position: relative; 
  overflow: hidden;
}

.projectContent {
  padding: 10px;
}

.projectImage {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}

.email {
  margin-right: 5px;
}

.clipboardFeedback {
  position: relative;
  font-size: 10px;
  opacity: 0;
  transition: opacity;
  transition-duration: 1.5s;
}

.clipboardFeedback.active {
  opacity: 1;
  transition-duration: 0.3s;
}

.btn {
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  border: none;
  background: none;
  /*outline: none;*/
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


@media screen and (max-width: 436px) {
  body {
    font-size: 6vw;
  }

  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 7vw;
  }

  .clipboardFeedback {
    font-size: 4vw;
  }
}


